#txt
{
    color: red;
    visibility: hidden;
    padding-left: 10px;   
}


#txt2
{
    color: red;
    visibility: hidden;
    padding-left: 10px;   
}


#txt3
{
    color: red;
    visibility: hidden;
    padding-left: 10px;   
}


#txt4
{
    color: red;
    visibility: hidden;
    padding-left: 10px;   
}
 


